  <div id="mega-menu-full-dropdown" class="mt-1 border-gray-200 shadow-sm bg-gray-50 md:bg-white border-y dark:bg-gray-800 dark:border-gray-600">
        <div class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 dark:text-white sm:grid-cols-2 md:px-6">
            <ul>
                <li>
                    <a [routerLink]="['/references/create-demande']" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                        <div class="font-semibold">demandes</div>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/references/demande-document-references']" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                        <div class="font-semibold">lieer type demande avec documents requis</div>
                    </a>
                </li>
            </ul>
     </div>
</div>

<div class="flex flex-col md:flex-row ">
    <div class="w-full p-5">
        <router-outlet></router-outlet>
    </div>
</div>